{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    <div class="wrapper-div-content wrapper-div-content-archive">
        <p>{{termTitle}}</p>
        {{ parent() }}
        <h1>{{title}}</h1>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){ 
                $( "article a" ).hover(
                    function() {
                        var data = $(this).data("post");
                        $(".wrapper-div-content-archive h1").text(data.post_title);
                    }, function() {
                        $(".wrapper-div-content-archive h1").text("");
                    }
                );
                $( "a.desplegable" ).click(
                    function() {
                        var term = $(this).text();
                        $('.wrapper-div-content-archive p').text(term);
                        $("article").fadeTo('fast', 0);
                        $("article[data-term='" + term + "']").fadeTo('fast', 1);
                        return false;
                    }
                );
            });
        })(jQuery);
    </script>
{% endblock %}
